.navbar-brand {
	color:white;
}

.nav-link {
color:white;
}

.audio-container {
	text-align: center;
}

.carousel-inner
{
	height: 400px;
}
.d-block
{
	height: 350px;
}

.carousel-control-prev
{
	height: 400px;
}
.carousel-control-next
{
	height: 400px;
	width: 75px;
}

#product
{
	text-align: center;
}

#product .prod-container
{
	width:23%;
	min-width: 250px;
	padding: 10px 12px;
	border:1px solid #cce7d0;
}

#product .prod
{
	width:100%;
	border-radius: 20px;
	
}
